@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    min-height: 100vh;
    background: #d1e782;
}

a {
    text-decoration: none;
    color: #444;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #444;
}

h3 {
    color: rgba(100, 98, 98, 0.808);
}

.btn {
    border-radius: 8px;
    background: rgb(135, 151, 77);
    color: #444;
    padding: 5px 10px;
    text-align: center;
    transition: 0.3s;
}

.btn:hover {
    color: rgba(165, 189, 81);
    background: white;
    border-radius: 5px;
    padding: 3px 8px;
    border: 2px solid #444;
}

.tittle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

/* SIDE MENU SETTINGS */

.side-menu {
    position: fixed;
    background: rgb(135, 151, 77);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover {
    background: white;
}

.side-menu li a:hover {
    color: #339721;
}

.icon-menu {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.icon-cards {
    width: 80px;
    height: 80px;
    padding: 2px 5px;
    margin: 0 10px;
}

/* Container Settings */

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #d1e782;
}

.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user {
    flex: 1;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #d1e782;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

/* Main Content Settings */

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-info {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .more-info {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

/* ASIDE MENU SETTINGS */

.container .content .content-2 .more-info table td:nth-child(1) {
    height: 40px;
    width: 40px;
}

.container .content .content-2 .more-info table img {
    height: 40px;
    width: 40px;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }

    .side-menu li img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 536px) {
    .brand-name h1 {
        font-size: 16px;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li img {
        width: 30px;
        height: 30px;
    }

    .container .content .content-2 .recent-info table th:nth-child(2),
    .container .content .content-2 .recent-info table td:nth-child(2) {
        display: none;
    }
}
