@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    max-width: 1312px;
    margin: 0px auto;
    padding: 0 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

header .logo {
    display: block;
    width: 96px;
    height: auto;
    margin-right: 32px;
}

header .logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    height: 75px;
    align-items: center;
    border-bottom: 1px solid #ededf0;
}

header div {
    width: 50%;
}

header div,
header nav ul {
    height: 100%;
    align-items: center;
}

header div:last-child {
    justify-content: flex-end;
}

header nav li {
    margin-right: 32px;
}

header nav li a {
    font-weight: bold;
}

header nav li a:hover {
    text-decoration: underline;
}

header div button,
header button {
    color: #0060df;
    border: 2px solid #0060df;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 24px;
    cursor: pointer;
    font-weight: bold;
    transition-duration: 0.15s;
    transition-property: background-color, border-color, color;
}

header div button:hover {
    color: #fff;
    background-color: #0060df;
    border-color: #fff;
}

header.container {
    justify-content: space-between;
}

section.container {
    padding: 48px 0px 96px 0px;
    display: flex;
}

.left-main-content {
    width: 70%;
}

section.container > aside {
    width: 30%;
}

.left-main-content menu ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.left-main-content menu ol li {
    margin-right: 5px;
}

.left-main-content menu ol li:last-child a {
    color: #42435a;
}

.left-main-content menu ol li:hover a {
    color: #0060df;
}

.left-main-content menu ol li a {
    font-size: 14px;
    text-decoration: none;
    color: #80808f;
}

.left-main-content main header {
    flex-direction: column;
    align-items: flex-start;
    margin: 72px 0px 56px 0px;
    height: auto;
}

.left-main-content main header a {
    display: block;
    width: 48px;
    height: auto;
}

.left-main-content main header a img {
    display: block;
    max-width: 100%;
    height: auto;
}

.left-main-content main header h1 {
    color: #20133a;
    font-weight: 700;
    line-height: 3.5rem;
    font-size: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #20133a;
    margin-top: 16px;
}

.left-main-content main article p {
    color: #42435a;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.left-main-content main article section,
.left-main-content main article {
    padding: 24px;
    margin-bottom: 32px;
    border-radius: 4px;
    color: rgb(66, 67, 90);
    background-color: rgb(249, 249, 251);
}

.left-main-content mark {
    color: rgb(20, 20, 34);
    background-color: rgb(237, 237, 240);
    font-weight: normal;
    display: inline-block;
    padding: 0 5px;
}

.help {
    list-style: disc;
    margin: 16px;
}

.help li {
    margin-bottom: 8px;
    color: #42435a;
}

.left-main-content main footer {
    color: #42435a;
    text-align: center;
    padding: 32px 0;
}

.left-main-content main footer h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.left-main-content main footer ul {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.left-main-content main footer ul li a {
    margin-right: 5px;
}

.left-main-content main footer ul li a {
    text-decoration: underline;
}

.left-main-content main footer ul li a:hover {
    text-decoration: none;
}

.left-main-content .volunteer {
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    flex-direction: row;
    align-items: center;
    background: #ededf0 url("../img/volunteer.png") no-repeat left center;
    background-size: 50% auto;
}

.left-main-content .volunteer > div {
    width: 50%;
    text-align: center;
    max-width: 400px;
    margin: 0 40px;
}

.left-main-content .volunteer > div h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: #000;
}

.left-main-content .volunteer > div p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

.left-main-content .volunteer > div a {
    display: block;
    margin-top: 16px;
    color: #0060df;
    font-weight: bold;
    text-decoration: underline;
}

aside {
    padding: 0 16px;
    display: flex;
}

aside header {
    border: none;
    height: auto;
    align-items: initial;
    display: block;
}

aside main {
    display: block;
    height: 100%;
}

aside header,
aside main {
    width: 60%;
}

aside header form {
    margin-bottom: 40px;
    padding-left: 8px;
    display: flex;
    border: 2px solid #9595a2;
    justify-content: space-between;
    border-radius: 4px;
    align-items: center;
    height: 40px;
}

aside form input {
    appearance: none;
    border: none;
}

aside form input::placeholder {
    font-size: 16px;
}

aside form input:focus-visible {
    appearance: none;
    outline: none;
}

aside form button {
    background: none;
    border: none;
}

aside form input aside form button {
    display: block;
    height: 100%;
}

aside form button span {
    display: flex !important;
    align-items: center !important;
}

aside ul {
    margin-top: 16px;
}

aside li label {
    color: #5e5e72;
}

aside ul li imput[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #9595a2;
    border-radius: 2px;
    background-color: #fff;
    vertical-align: middle;
    content: "";
    margin: 0px 15px 0px 0px;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li select {
    background: #fff url(..img/download) no repeat top 14px right 14px;
    background-size: 12px 12px;
    text-align: left;
    padding: 0 8px;
    width: 60px;
    height: 40px;
    border: 2px solid #9595a2;
    color: #0c0c0d;
    outline: 0;
    appearance: none;
    border-radius: 4px;
}

aside section:last-child {
    margin-top: 300px;
    border-radius: 24px;
    border-radius: 24px;
    padding: 24px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    box-shadow: 0 5px 10px -3px rgb(14 13 26 / 12%),
        0 3px 16px 2px rgb(7 48 114 / 12%), 0 8px 12px 1px rgb(34 0 51);
}

aside section:last-child form {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

aside section:last-child form button {
    font-size: 24px;
    transition: transform 0.3s linear;
}

aside section:last-child form button:hover {
    transform: scale(1.2);
}

main-footer {
    background: #000;
    color: #fff;
}
